 
/node_modules
/**/node_modules

/.pnp
/**/.pnp
.pnp.js
/**/.pnp.js
 
/coverage
/**/coverage
 
/release

/build
/**/build
 
.DS_Store
/**/.DS_Store
.env.local
/**/.env.local
.env.development.local
/**/.env.development.local
.env.test.local
/**/.env.test.local
.env.production.local
/**/.env.production.local

npm-debug.log*
/**/npm-debug.log*
yarn-debug.log*
/**/yarn-debug.log*
yarn-error.log*
/**/yarn-error.log*
